main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

}

/* Darker chat container */
.income {
  border-color: #ccc;
  background-color: #1dbb8d;
}

/* Clear floats */
.container::after {
  /*content: "";*/
  /*clear: both;*/
  /*display: table;*/
}


/* Style time text */
.time-right {
  font-size: 12px;
  float: right;
  color: #aaa;
  /*padding-top: 25px;*/
}

/* Style time text */
.time-left {
  font-size: 12px;
  float: left;
  color: ##edf0f4;
  /*padding-top: 25px;*/
}

.chatwindow {
	height: 40em;
	border: 1px solid gray;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow-y: auto;

	/*text-align:left;
    margin-bottom: 10px;
	margin-top: 10px;
    padding: 10px;
	height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto;*/
}

.listofchats {
	overflow-y: auto;
}

.sender {
	font-size: 1em;
	color: #1dbb8d;
	text-align: left;

}

.main-text {
	font-size: 1.3em;
	text-align: left;
}

.time {
	font-size: 0.8em;
	text-align: justify;
}

.package {
	display: inline-block;
	background-color: #303030;
	border: 1px solid #1dbb8d;
  	padding: 0.6em;
  	margin: 10px;
}
