{% extends "layout.html" %}

{% block js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

<script id="newmes" type="text/x-handlebars-template">
<div class="contain" style="text-align: left">
	<div class="package rounded">
                {% raw -%}
				<div class="sender">{{ sender }}</div>
				<div class="main-text">{{ message }}</div>
				<div class="time text-muted">{{ time }}</div>
			{%- endraw %}

		</div>
</div>




</script>

<script>
	// Connect to web socket
	var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

	// When connected, configure buttons
	socket.on('connect', () => {

			document.querySelector("#send").onclick = () => {
				const message = document.querySelector('#message').value;
				const channel = localStorage.getItem('channel');

				socket.emit('new message', {'new_message': message, 'channel': channel});
				document.querySelector('#message').value = "";
			}
		});

	socket.on('broad message', data => {

		// Add message
		addMessage(data);

	});

	document.addEventListener("DOMContentLoaded", () => {

		// Make a request to get messages for the first time
		const request = new XMLHttpRequest();
		request.open('GET', '/chats');
		request.send();

		request.onload = () =>{
			const data = JSON.parse(request.responseText);
			if (Object.keys(data).length > 0) {
				data.forEach(createChat)
			}
		};

		// Event listener for click on button
		document.addEventListener('click', event => {
			const element = event.target;
			if (element.id == 'chat_id'){

				const chatname = element.innerText;

				//Set a chatname to a localStorage in browser
				localStorage.setItem('channel', chatname);
				console.log('-------');

				changeChat(chatname);
			}
		});

		// By default, submit button is disabled
        document.querySelector('#Creat').disabled = true;

		// Enable button only if there is text in the input field
		document.querySelector('#chatname').onkeyup = () => {
			if (document.querySelector('#chatname').value.length > 0)
				document.querySelector('#Creat').disabled = false;
			else
				document.querySelector('#Creat').disabled = true;
		};

		// By default, submit button is disabled
        document.querySelector('#send').disabled = true;

		document.querySelector('#message').onkeyup = () => {
			if (document.querySelector('#message').value.length > 0)
				document.querySelector('#send').disabled = false;
			else
				document.querySelector('#send').disabled = true;
		};
});


	// Validate a chatname
	function validation() {

		let chatname = document.querySelector('#chatname').value;

		// Creat new request to the chats
		const request = new XMLHttpRequest();
	    request.open('POST', '/chats');

		// Add start and end points to request data.
	    const data = new FormData();
	    data.append('chatname', chatname);

		// Send request
		request.send(data);

		// Delete chatname from input form
		document.querySelector('#chatname').value = '';

		// Procced data
		request.onload = () => {
			console.log(request.responseText);
			const data = JSON.parse(request.responseText);
			if (Object.keys(data).length > 1) {
				createChat(data[(Object.keys(data).length) - 2]);
			}
			else {
				chatstatus(data.responce);
			}
		};
	};

	// Add a new post with given responce to DOM.
	function chatstatus(resp) {

		console.log('-------')
		// Create new element
		const responce = document.createElement('div');
		responce.className = 'responce';
		responce.innerHTML = resp;

		// Add responce to DOM
		document.querySelector('#chatvalid').append(responce)

	};

	function createChat(data) {

		console.log(data)
		const chat = document.createElement('div');
		chat.className = "list-group-item list-group-item-action";
		chat.innerHTML = data.name;
		chat.id = 'chat_id';

		// Add responce to DOM
		document.querySelector('#listofchats').append(chat);

		// Set localStorage to current chat
		localStorage.setItem('channel', data.name);

		changeChat(data.name);
	};

	function changeChat(data) {

		const request = new XMLHttpRequest();
		request.open("POST", "/chat");

		// Append data
		const chatdata = new FormData();
		chatdata.append('chatname', localStorage.getItem('channel'));

		request.send(chatdata);

		// Crear all old messages
		clearMessages();

		request.onload = () => {
			const data = JSON.parse(request.responseText);
            data.forEach(addMessage);
		}
	};

	function addMessage(data)	{

		// Check local storage to unsure that user in current chatroom
		if (localStorage.getItem('channel') == data.channel) {

		// Add a new post with given contents to DOM.
		const message_template = Handlebars.compile(document.querySelector('#newmes').innerHTML);

		// Create new post.
		const message = message_template({'message': data.message, 'time': data.time, 'sender': data.sender});

		// Add post to DOM.
		document.querySelector('#chatwindow').innerHTML += message;
		};
	};

	function clearMessages() {
		document.querySelector('#chatwindow').innerHTML = "";
	}

</script>

{% endblock %}

{% block title %}
	Messenger: Chats
{% endblock %}

{% block main %}

<h1 class="display-3 font-weight-bold">Public, free and secret</h1>

<div class="container">
  <div class="row">
    <div class="col-4">
				<h2>Create a new chat:</h2>
			<input class="form-control" type="text" id="chatname" name="chatname" placeholder="Name of new chat">
			<button class="btn btn-warning" onclick="validation()" id="Creat">Create</button>
			<div id="chatvalid" style="color: red"></div>
			<h3> List of channels:</h3>
			<div class="list-group" id="listofchats">
			</div>
  </div>
  	<div class="col-8">
	  	<div class="chatwindow" id="chatwindow">
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col-4"></div>
		<div class="col-8">
			<div class="align-self-end" style="margin-bottom: 5px">
				<input id="message" class="form-control" type="text" placeholder="Your input..." autofocus>
      			<button id="send" class="btn btn-success" type="submit">Send</button>
  			</div>
		</div>
	</div>
</div>



{% endblock %}
