{% extends "layout.html" %}

{% block js%}
	<script type="text/javascript" src="/static/chatroom.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}
	Messenger: Chats
{% endblock %}

{% block main %}

<h1 class="display-3 text-center font-weight-bold">Public, free and secret</h1>

<div class="chatwindow" style="margin-top: 30px;">
	<div id="message" class="container">
		<p class="text-right"></p>
	</div>
</div>

<form>
	<div class="form-group">
      <label for="exampleTextarea"></label>
	  <textarea class="form-control" id="exampleTextarea" rows="3" data-gramm="true" data-txt_gramm_id="72a35850-6dde-6046-efad-b7621a9720bd" data-gramm_id="72a35850-6dde-6046-efad-b7621a9720bd" spellcheck="false" \
	  data-gramm_editor="true" style="z-index: auto; position: relative; line-height: 22.5px; font-size: 15px; transition: none 0s ease 0s; background: #e8e8e8 !important;"></textarea>
    </div>
	<p class="text-right">
	<button id="send" type="button mr-auto" class="btn btn-primary btn-lg"">Send</button>
	  </p>
</form>


{% endblock %}
