{% extends "layout.html" %}

{% block title%}
	Messenger: Chats
{% endblock %}

{% block main %}
<h1 class="display-3 text-center font-weight-bold">Public, free and secret</h1>

<div class="jumbotron" style="margin-top: 30px;">
	<div class="container">
		<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
		<p class="text-right">Hello. How are you today?</p>
	</div>

	<div class="container income">
		 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
		<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
	</div>

	<div class="container">
		<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
		<p class="text-right">Hello. How are you today?</p>
	</div>

	<div class="container income">
		 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
		<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
	</div>
	<div class="container">
			<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
			<p class="text-right">Hello. How are you today?</p>
		</div>

		<div class="container income">
			 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
			<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
		</div>	<div class="container">
				<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
				<p class="text-right">Hello. How are you today?</p>
			</div>

			<div class="container income">
				 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
				<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
			</div>	<div class="container">
					<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
					<p class="text-right">Hello. How are you today?</p>
				</div>

				<div class="container income">
					 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
					<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
				</div>
				<div class="container">
						<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
						<p class="text-right">Hello. How are you today?</p>
					</div>

					<div class="container income">
						 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
						<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
					</div>	<div class="container">
							<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
							<p class="text-right">Hello. How are you today?</p>
						</div>

						<div class="container income">
							 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
							<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
						</div>	<div class="container">
								<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
								<p class="text-right">Hello. How are you today?</p>
							</div>

							<div class="container income">
								 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
								<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
							</div>
							<div class="container">
									<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
									<p class="text-right">Hello. How are you today?</p>
								</div>

								<div class="container income">
									 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
									<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
								</div>	<div class="container">
										<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
										<p class="text-right">Hello. How are you today?</p>
									</div>

									<div class="container income">
										 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
										<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
									</div>	<div class="container">
											<!--  <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
											<p class="text-right">Hello. How are you today?</p>
										</div>

										<div class="container income">
											 <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
											<p class="text-left">Hey! I'm fine. Thanks for asking!</p>
										</div>
<form>
	<div class="form-group">
      <label for="exampleTextarea"></label>
	  <textarea class="form-control" id="exampleTextarea" rows="3" data-gramm="true" data-txt_gramm_id="72a35850-6dde-6046-efad-b7621a9720bd" data-gramm_id="72a35850-6dde-6046-efad-b7621a9720bd" spellcheck="false" \
	  data-gramm_editor="true" style="z-index: auto; position: relative; line-height: 22.5px; font-size: 15px; transition: none 0s ease 0s; background: #e8e8e8 !important;"></textarea>
    </div>
	<p class="text-right">
	<button type="button mr-auto" class="btn btn-primary btn-lg"">Send</button>
	  </p>
	</div>
</form>

{% endblock %}
