<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

		<!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
		<!--<link href="/static/favicon.ico" rel="icon">-->

		<link href="/static/styles.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/darkly/bootstrap.css">

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

		</script>
		{% block js%}
		{% endblock %}
		<title>
			{% block title %}
			{% endblock %}
		</title>
	</head>
	<body>
		<main>
		              {% block main %}{% endblock %}
		</main>
	</body>
</html>
